<h2> <%= @task.title  %></h2>
<p> <%= @task.details  %></p>

<p> <%= check_box_tag @task.title, "value", @task.completed %>
  <% if @task.completed == true %>
    Task completed </p>
  <% else %>
  Task not completed </p>
<% end%>


<p> <%= link_to("Edit this task", edit_path) %> </p>

<p> <%= button_to("Back to list", tasks_path) %> </p>
